.img{
  width: 100px;
  height: 60px;
}
.nav-link{
  font-size: 20px;
  margin: 0px 0px 10px 10px;
}
.nav-item > a{
  color: blue;
}
.navbar-nav > li {
  margin-left: 20px;
  margin-right: 10px;
}
.menu-divider {
  margin: 0px !important;
  padding: 10px 0px 0px 10px;
  font-weight: bold;
}
